/* CSS reset */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-size: 16px;
    font-family: "Raleway", sans-serif;

    background-color: rgba(248, 231, 236);
    min-height: 100vh;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* CSS reset */

nav {
    background-color: rgb(224, 141, 158);
    padding: 5px;
    
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 253, 254);
    font-size: 20px;
}

nav a:hover {
    background-color: rgba(248, 231, 236);
    /* color: rgb(173, 111, 123); */
    color: rgb(172, 71, 92);
    transition: 500ms;
    border-radius: 10%;
    padding: 5px;

}



/* FOOTER */

footer {
    background-color: rgb(224, 141, 158);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

#footer {
    font-size: 20px;
    color: rgb(255, 253, 254);
}

footer ul {
    list-style-type: none;
}

footer li {
    margin: 10px;
    font-size: 18px;
    color: rgb(172, 71, 92);
    text-decoration: none;
}

footer i {
    margin-right: 8px;
}

footer a {
    color: rgb(172, 71, 92);
}

footer #info:hover {
    color: rgb(172, 71, 92);
    transition: 300ms;
    transform: scale(1.1);
}

.some {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.some i {
    font-size: 30px;

}







/* INDEX */

h1 {
    text-align: center;
    font-size: 50px;
    margin: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(172, 71, 92);
}

#index {
    text-align: center;
    font-size: 20px;
    margin: auto 30px;
}

main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);

    padding: 30px;

}

main section {
    padding: 10px;
    background-color: rgb(172, 71, 92);
    line-height: 30px;
}

.overskrift {
    grid-column: 1/4;
    grid-row: 1/2;

    text-align: center;
    font-size: 40px;
    line-height: 60px;
    color: rgb(255, 253, 254);
    font-family: "Playfair Display", serif;

    padding: 40px;
}

.informasjon {
    grid-column: span 3;
    grid-row: 2/4;

    justify-content: center;
    font-size: 20px;
    padding: 40px;
    line-height: 40px;
    color: rgb(255, 253, 254);
}

.tomt_rom {
    grid-column: 4/5;
    grid-row: 2/4;
    margin-top: 10px;
}

.bilder {
    grid-column: 4/8;
    grid-row: 1/2;
    margin-left: 10px;

    background-color: rgb(224, 141, 158);
    display: flex;
    align-items: center;
    gap: 10px;

}

.bilder>img {
    width: 33%;
    max-width: 270px;
    height: 150px;
    margin: 10px;

    aspect-ratio: 1/1;
    object-fit: cover;

    border: 7px solid rgb(172, 71, 92);
    border-style: ridge;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.1);
}

.bilder>p {
    width: 33%;
    max-width: 270px;
    text-align: center;
    color: rgb(172, 71, 92);
}

.familie {
    grid-column: 5/8;
    grid-row: 2/4;
    margin-left: 10px;

    padding: 30px;
    background-color: rgb(224, 141, 158);
    color: rgb(172, 71, 92);
}

main b {
    font-weight: 700;
}

.familie h3 {
    font-size: 30px;
    margin-bottom: 20px;
}







/* BILDEGALLERI */

.bildegalleri {
    display: grid;
    max-width: 70%;
    margin: 30px auto;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(224, 141, 158);
    box-shadow: 30px 20px 20px rgba(0, 0, 0, 0.2);

    gap: 10px;
    padding: 10px;
}

.bildegalleri img {
    object-fit: cover;

    width: 100%;
    height: 100%;

}

.bildegalleri img:hover {
    transform: scale(1.02, 1.02);
    transition: 300ms;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.bildegalleri div {
    max-height: 470px;
}

.bildegalleri .b1 .b4 .b5 .b6 .b7 .b12 {
    aspect-ratio: 1/2;
}

.b1 {
    grid-row: span 2;
}

.b2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.b3 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.b4 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.b8 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.b9 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.b10 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.b11 {
    grid-column: 2/3;
    grid-row: 5/6;
}

.b12 {
    grid-column: 3/4;
    grid-row: 4/6;
}







/* TIMEPLAN */

h2 {
    text-align: center;
    font-size: 40px;
    margin: 30px;
    font-family: "Playfair Display", serif;

}

.timeplan-container {
    max-width: 1000px;
    margin: 0 auto;
}

td,
th {
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    width: 15%;
}

th {
    background-color: rgba(45, 138, 251, 0.573);
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: aliceblue;

}




#friminutt {
    text-align: center;
    background-color: lightgray;
}

#friminutt_lite {
    text-align: center;
    background-color: lightgray;
}

.fysikk {
    background-color: rgba(128, 255, 0, 0.636);
}

.matte {
    background-color: rgba(255, 0, 0, 0.727);
}

.tysk {
    background-color: rgba(0, 255, 255, 0.633);
}

.kjemi {
    background-color: rgba(205, 140, 50, 0.722);
}

.norsk {
    background-color: rgba(252, 102, 230, 0.589);
}

.historie {
    background-color: rgb(255, 127, 36);
}

.IT {
    background-color: mediumturquoise;
}

.gym {
    background-color: rgb(255, 214, 110)
}

.kt {
    background-color: rgba(255, 20, 145, 0.556);
}


.fag {
    padding: 30px;
    margin-bottom: 100px;
}

h5 {
    font-size: 30px;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    margin-bottom: 20px;
    color: rgb(172, 71, 92);
}

.fag li {
    margin-bottom: 20px;
}




/* FRITIDSAKTIVITETER */

.fritidsaktiviteter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;

    width: 80%;
    gap: 10px;
}

.fritidsaktiviteter div {
    padding: 20px;
    text-align: center;

    height: 300px;
}

h4 {
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    margin-bottom: 15px;
    color: rgba(248, 231, 236);
}

h6 {
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    margin-bottom: 15px;
    color: rgb(172, 71, 92);
}

.piano {
    background-color: rgb(224, 141, 158);
}

.tennis {
    background-color: rgb(172, 71, 92);
}

.vivil {
    background-color: rgb(172, 71, 92);
}

.skiskyting {
    background-color: rgb(224, 141, 158);
}

.fritidsaktiviteter img {
    margin: 20px auto;
    max-height: 130px;
    max-width: 400px;
    object-fit: cover;
    aspect-ratio: 1/1;
}








@media (width < 500px) {
    .fritidsaktiviteter {
        grid-template-columns: 1fr;
        
    }

    .bildegalleri {
        padding: 5px;
        gap: 5px;
    }

    .navbar1 {
        display: none;
    }

}

@media (width > 499px) {
    .navbar2 {
        display: none;
    }

}


@media (width < 1200px) {
    .fritidsaktiviteter img {
        display: none;
    }

}

@media (max-width: 1000px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 50px;
    }

    .overskrift, .informasjon, .bilder, .familie {
        grid-column: 1 / -1;
        grid-row: auto;
        margin-left: 0;
    }

    .tomt_rom {
        display: none;
    }

    .informasjon{
        margin-bottom: 20px;
    }

}
